#!/usr/bin/make -f

%:
	dh $@

# We have to clean manually because the Makefile does not support distclean,
# and does not remove compiled bsnes binary
override_dh_auto_clean:
	$(MAKE) clean
	rm -rf obj out

override_dh_auto_build:
	mkdir -p obj out
	dh_auto_build -- profile=compatibility name=higan-compatibility
# Allow for building bsnes only once when testing stuff with the build option testbuild.
ifeq (,$(findstring testbuild,$(DEB_BUILD_OPTIONS)))
	$(MAKE) clean
	dh_auto_build -- profile=accuracy name=higan-accuracy
	$(MAKE) clean
	dh_auto_build -- profile=performance name=higan-performance
	$(MAKE) clean
	dh_auto_build -- options=debugger name=laevateinn-bin
else
	cp bsnes/out/higan-compatibility bsnes/out/higan-accuracy
	cp bsnes/out/higan-compatibility bsnes/out/higan-performance
	cp bsnes/out/higan-compatibility bsnes/out/laevateinn-bin
endif

override_dh_auto_install:
	install -D -m 644 bsnes/data/bsnes.png debian/bsnes/usr/share/pixmaps/bsnes.png
	install -D -m 644 bsnes/data/bsnes.desktop debian/bsnes/usr/share/applications/bsnes.desktop
	install -D -m 644 bsnes/data/cheats.xml debian/bsnes/usr/share/games/bsnes/cheats.xml
	install -D -m 755 purify/purify debian/bsnes/usr/games/bsnes-purify
	cp -R bsnes/profile/* debian/bsnes/usr/share/games/bsnes
	chmod 644 debian/bsnes/usr/share/games/bsnes/*/*
	mkdir -p debian/laevateinn/usr/share/games/laevateinn
	cp -R bsnes/profile/* debian/laevateinn/usr/share/games/laevateinn
	chmod 644 debian/laevateinn/usr/share/games/laevateinn/*/*
