[Desktop Entry]
Name=snespurify
Comment=Tool for resolving problems with SNES ROMs
Exec=snespurify-gtk
Icon=bsnes
Terminal=false
Type=Application
Categories=Game;FileTools;
